.dub
docs.json
__dummy.html
docs/
/scoreboard-manipulator
scoreboard-manipulator.so
scoreboard-manipulator.dylib
scoreboard-manipulator.dll
scoreboard-manipulator.a
scoreboard-manipulator.lib
scoreboard-manipulator-test-*
*.exe
*.o
*.obj
*.lst
out.png
